Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
	- оценка 2 и меньше - низкий рейтинг
	- оценка 4 и меньше - средний рейтинг
	- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

def classifier(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif 2 < rating <= 4:
        return 'средний рейтинг'
    elif rating == 4.5 or rating == 5:
        return 'высокий рейтинг'


ratings = pd.read_csv('ratings.csv')
ratings['class'] = ratings['rating'].apply(classifier)
ratings.head()
# ratings['class'].unique()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [18]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [39]:
def geo_classifier(key_word):
    for geo in geo_data.keys():
        if key_word in geo_data[geo]:
            return geo
    for geo in geo_data.keys():
        if key_word not in geo_data[geo]:
            return 'undefined'

In [44]:
kw = pd.read_csv('keywords.csv')
kw['region'] = kw['keyword'].apply(geo_classifier)
# kw['region'].unique()
# r = kw[kw['keyword'].isin(['тула', 'москва', 'ярославль', 'петербург', 'псков', 'мурманск', 'владивосток', 'сахалин', 'хабаровск'])]
# r.head(15)
kw.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

Задание 3 (бонусное)
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
	- для каждой строки пройдите по всем годам списка years
	- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
	- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [86]:
years = list()
for i in range(1950, 2011):
    years.append(i)

In [85]:
import re

def production_year(film_name):
    for num in re.findall(r'[0-9]{4}', film_name):
        r = int(num)
   
        if r in years:
            return r
        else:
            return '1900'

    
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
movies['year'] = movies['title'].apply(production_year)
joined = ratings.merge(movies, 'left', on='movieId')
group_year = joined.groupby(['year']).mean()
group_year.sort_values('rating', ascending=False).head(50)

          userId       movieId    rating     timestamp
year
1957  315.865116   3012.213953  4.039535  1.178092e+09
1954  315.735294   2426.022059  4.009191  1.159430e+09
1962  328.343511   4645.015267  3.969466  1.145154e+09
1952  356.708333   2687.718750  3.953125  1.156213e+09
1972  322.224044   4738.937158  3.946721  1.182913e+09
1964  321.351064   4900.795213  3.940160  1.180442e+09
1974  318.545259   3561.084052  3.937500  1.172861e+09
1967  312.167979   4951.223097  3.922572  1.162747e+09
1975  330.375786   3183.176101  3.878931  1.166674e+09
1958  341.042424   3267.648485  3.842424  1.114448e+09
1971  334.391635   4702.323194  3.842205  1.154937e+09
1966  339.021053  11602.578947  3.823684  1.205284e+09
1950  325.291925   4402.739130  3.813665  1.166512e+09
1977  330.654321   4906.860670  3.810406  1.176425e+09
1951  331.719780   2104.802198  3.804945  1.136664e+09
1959  334.958848   2709.139918  3.794239  1.141051e+09
1968  333.621538   6845.286154  3.784615  1.154909e+09
1981  332.231061   3959.550505  3.760732  1.149468e+09
1973  335.830228   6417.192547  3.757764  1.155729e+09
1970  327.000000   5543.331967  3.754098  1.114961e+09
1976  346.142857   4092.009524  3.752381  1.155162e+09
1965  310.384615   8878.311966  3.735043  1.167439e+09
1980  337.012712   3303.977754  3.733581  1.162009e+09
1960  337.948207   3800.266932  3.721116  1.163617e+09
1955  353.615385   3942.093407  3.719780  1.136474e+09
1961  323.911111   6044.808889  3.700000  1.161863e+09
1969  318.684932   7114.954338  3.682648  1.105720e+09
1956  394.295652   4670.304348  3.682609  1.142896e+09
1979  328.716475   4558.642401  3.680715  1.163927e+09
1953  344.398693   4340.869281  3.647059  1.174100e+09
1983  343.828018   5372.468109  3.631549  1.167027e+09
1963  350.477352   4408.951220  3.628920  1.157645e+09
2009  321.708992  71253.159673  3.579837  1.409214e+09
2010  330.446305  79773.523672  3.569284  1.422050e+09
1991  327.265389   3412.421022  3.552265  1.135729e+09
1900  331.805047  92487.768519  3.533628  1.405750e+09
1984  334.790436   3374.177215  3.531646  1.154394e+09
2008  314.188285  62333.863319  3.528126  1.385126e+09
2007  318.529437  55509.002181  3.526385  1.355766e+09
1982  339.273504   2887.172840  3.510921  1.149102e+09
2004  329.519231  13260.455621  3.506805  1.296975e+09
1994  308.467145    766.327228  3.500944  1.055582e+09
1999  329.604296   3423.337245  3.499114  1.171993e+09
2006  335.717215  48309.502901  3.499033  1.327894e+09
2001  327.680189   5282.684669  3.494649  1.246025e+09
1987  347.074122   3922.116385  3.489922  1.153241e+09
2003  324.804653   8735.192798  3.463990  1.280406e+09
1989  332.134565   2780.721900  3.463061  1.142196e+09
1986  346.763441   3417.012018  3.460152  1.138101e+09
1978  353.653061   5832.489796  3.455102  1.152125e+09